.header {
    display: flex;
    background: orange;
    justify-content: center;
    align-items: center;


}

h1 {
    font-weight: bolder;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

button {
    border-radius: 12px;
    font-size: 16px;
    padding: 16px 32px;
    border: 2px solid black;
}

.win {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
}

h2 {
    display: flex;
    justify-content: center;
}

.scoreinput {
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
}

.userscore {
    display: flex;
    flex-direction: column;
}

.computerscore {
    display: flex;
    flex-direction: column;
}
